* {
  user-select: none;
  font-family: 'Iceland', 'sans-serif';
}
.container {
  width: 100%;
  background-color: #e0f3fd;
  margin: auto;
}

.brandsBanner a > svg {
  color: rgb(12, 6, 6);
  font-size: 2rem;
  transition: color 0.5s;
}
.brandsBanner a > svg:hover {
  color: skyblue;
}



/* @media screen and (max-width: 1536px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
} */
