* {
  user-select: none;
}
.container {
  width: 90vw;
  margin: auto;
}

.vector-graphics {
  filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.3));
  animation: vectorAnimation 1s infinite ease-in-out alternate;
}

@keyframes vectorAnimation {
  to {
    transform: translateY(-10px);
  }
}
@media screen and(max-width:600px) {
  .container {
    width: 100vw;
  }
}

.brandsBanner a > svg {
  color: rgb(12, 6, 6);
  font-size: 2rem;
  transition: color 0.5s;
}
.brandsBanner a > svg:hover {
  color: skyblue;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 2rem;
    width: 100vw;
  }
}

.course {
  width: 250px;
  margin-bottom: 1rem;
  transition: all 0.5s;
}

.course:hover {
  transform: translateY(-10px);
}
