.main-container-float {
/* perspective: 500px; */
}

.container-float {
  width: 300px;
  height: 300px;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 30px;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
 
  
}
.item {
  width: 50px;
  height: 50px;
  /* background: white; */
  border-radius: inherit;
  cursor: grab;
}

/* @media screen and(max-width:600px){
  .container-float{
   width: 200px;
   height: 200px;
  }
} */